body {
  font-family: Roboto;
  color: var(--title-text-color);
  margin: 0 auto;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team__netlist, .team, .mobile-menu__networks, .mobile-menu__contact, .mobile-menu__list, .address-list, .nav-list, .footer-join__list, .footer__list, .features__list, .client__list {
  list-style: none;
}

.netlink, .logo,
.logo__dark, .mobile-menu__networks-link, .mobile-menu__contact-mail, .mobile-menu__contact-tel, .mobile-menu__link, .address-list__link, .nav-list__link, .footer-join__link, .footer__contact, .footer__link {
  text-decoration: none;
}

/* raleway-regular - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/raleway-v28-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("./fonts/raleway-v28-latin-regular.eot?#iefix") format("embedded-opentype"), url("./fonts/raleway-v28-latin-regular.woff2") format("woff2"), url("./fonts/raleway-v28-latin-regular.woff") format("woff"), url("./fonts/raleway-v28-latin-regular.ttf") format("truetype"), url("./fonts/raleway-v28-latin-regular.svg#Raleway") format("svg");
  /* Legacy iOS */
}
/* raleway-700 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/raleway-v28-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("./fonts/raleway-v28-latin-700.eot?#iefix") format("embedded-opentype"), url("./fonts/raleway-v28-latin-700.woff2") format("woff2"), url("./fonts/raleway-v28-latin-700.woff") format("woff"), url("./fonts/raleway-v28-latin-700.ttf") format("truetype"), url("./fonts/raleway-v28-latin-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/roboto-v30-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("./fonts/roboto-v30-latin-regular.eot?#iefix") format("embedded-opentype"), url("./fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("./fonts/roboto-v30-latin-regular.woff") format("woff"), url("/fonts/roboto-v30-latin-regular.ttf") format("truetype"), url("./fonts/roboto-v30-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/roboto-v30-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("./fonts/roboto-v30-latin-500.eot?#iefix") format("embedded-opentype"), url("./fonts/roboto-v30-latin-500.woff2") format("woff2"), url("./fonts/roboto-v30-latin-500.woff") format("woff"), url("./fonts/roboto-v30-latin-500.ttf") format("truetype"), url("./fonts/roboto-v30-latin-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/roboto-v30-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("./fonts/roboto-v30-latin-700.eot?#iefix") format("embedded-opentype"), url("./fonts/roboto-v30-latin-700.woff2") format("woff2"), url("./fonts/roboto-v30-latin-700.woff") format("woff"), url("./fonts/roboto-v30-latin-700.ttf") format("truetype"), url("./fonts/roboto-v30-latin-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-900 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("./fonts/roboto-v30-latin-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("./fonts/roboto-v30-latin-900.eot?#iefix") format("embedded-opentype"), url("./fonts/roboto-v30-latin-900.woff2") format("woff2"), url("./fonts/roboto-v30-latin-900.woff") format("woff"), url("./fonts/roboto-v30-latin-900.ttf") format("truetype"), url("./fonts/roboto-v30-latin-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}
:root {
  --title-text-color: #212121;
  --other-text-color: #ffffff;
  --primary-text-color: #757575;
  --accent-color: #2196F3;
  --secondary-accent-color: #188ce8;
  --logo-color: #000000;
  --boder-bg-color: #2f303a;
  --section-team-bg-color: #f5f4fa;
  --address-text-color: rgba(255, 255, 255, 0.6);
  --border-color: #eeeeee;
  --border-header-color: #ececec;
  --shadow-btn-color: rgba(0, 0, 0, 0.15);
  --icon-color: #afb1b8;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
  --hero-gradient: linear-gradient(to right,
              rgba(47, 48, 58, 0.4),
              rgba(47, 48, 58, 0.4));
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .clients__title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .clients__title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
  }
}

.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .client__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 92px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--icon-color);
  fill: currentColor;
  border-color: var(--icon-color);
  -webkit-transition: background-color 250ms var(--time-function), color 250ms var(--time-function);
  transition: background-color 250ms var(--time-function), color 250ms var(--time-function);
}
@media screen and (max-width: 767px) {
  .client__link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .client__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .client__link {
    width: 170px;
  }
}
.client__link:hover, .client__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
  -webkit-transition: border-color var(--time-function);
  transition: border-color var(--time-function);
}

.client__icon {
  fill: currentColor;
  -webkit-transition: 250ms var(--time-function);
  transition: 250ms var(--time-function);
}

.checkbox__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox__label {
  display: block;
  margin-bottom: 20px;
  position: relative;
  padding-left: 25px;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .checkbox__label {
    font-size: 14px;
  }
}

.checkbox__label::before {
  position: absolute;
  top: 3px;
  left: 14px;
  width: 16px;
  height: 15px;
  border: 1px solid black;
  border-radius: 2px;
  content: "";
}

.checkbox__label::after {
  position: absolute;
  top: 3px;
  left: 14px;
  width: 16px;
  height: 15px;
  background-image: url("../images/icon-check.svg");
  opacity: 0;
  content: "";
}

.checkbox__input:checked + .checkbox__label::after {
  opacity: 1;
}

.hero {
  max-width: 480px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--boder-bg-color);
  background-image: var(--hero-gradient), url(../images/hero-img-m.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: var(--hero-gradient), url(../images/hero-img-m@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: var(--hero-gradient), url(../images/hero-img-t.jpg);
    max-width: 768px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--hero-gradient), url(../images/hero-img-t@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: var(--hero-gradient), url(../images/team-work.jpg);
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--hero-gradient), url(../images/team-work@2x.jpg);
  }
}
.hero__title {
  width: 100%;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  color: var(--other-text-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.3636363636;
  }
}
.hero__button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 216px;
  -webkit-box-shadow: 0px 4px 4px var(--shadow-btn-color);
          box-shadow: 0px 4px 4px var(--shadow-btn-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: var(--other-text-color);
  background: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  -webkit-transition: background-color 250ms var(--time-function);
  transition: background-color 250ms var(--time-function);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--secondary-accent-color);
}

@media screen and (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.features__item {
  width: 100%;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .features__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
  }
}

.features__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  background-color: var(--section-team-bg-color);
}
@media screen and (min-width: 768px) {
  .features__icon {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__icon {
    width: 270px;
  }
}

.features__title {
  margin-bottom: 10px;
  color: var(--secondory-font-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

.features__text {
  width: 100%;
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .features__text {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__text {
    width: 270px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--boder-bg-color);
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    gap: 80px;
  }
}

@media screen and (max-width: 1199px) {
  .footer__content {
    text-align: center;
  }
}

.footer__list {
  font-style: normal;
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__link {
  color: var(--other-text-color);
  letter-spacing: 0.03em;
  margin-bottom: 9px;
  line-height: 1.71;
  -webkit-transition: color 250ms var(--time-function);
  transition: color 250ms var(--time-function);
}
.footer__link:hover, .footer__link:focus {
  color: var(--accent-color);
}

.footer__contact {
  color: var(--address-text-color);
  letter-spacing: 0.03em;
  line-height: 1.71;
  -webkit-transition: color 250ms var(--time-function);
  transition: color 250ms var(--time-function);
}
.footer__contact:hover, .footer__contact:focus {
  color: var(--accent-color);
}

.footer-join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media screen and (max-width: 1199px) {
  .footer-join {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-join__title {
  margin-bottom: 20px;
  color: var(--other-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-join__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.footer-join__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: var(--other-text-color);
  fill: currentColor;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms var(--time-function);
  transition: background-color 250ms var(--time-function);
}
.footer-join__link:hover, .footer-join__link:focus {
  background-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 1199px) {
  .footer-form {
    text-align: center;
  }
}

.footer-form__text {
  margin-bottom: 20px;
  color: var(--other-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .footer-form__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-form__input {
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  background-color: var(--boder-bg-color);
}
@media screen and (min-width: 768px) {
  .footer-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.footer-form__btn {
  position: relative;
  padding: 10px 62px 10px 28px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background: var(--accent-color);
  fill: var(--other-text-color);
  color: var(--other-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
}

.footer-form__btn::after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 10px;
  right: 28px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../images/icon-send.svg);
}

.form__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form__label {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  text-align: left;
  padding-top: 10px;
  padding-bottom: 4px;
}

.form__control {
  position: relative;
}

.form__input {
  width: 100%;
  padding: 10px 10px 10px 32px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}
.form__input:focus {
  border-color: var(--accent-color);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: currentcolor;
}

.form__control:focus-within .form__icon {
  fill: var(--accent-color);
}

.form__textarea {
  width: 100%;
  height: 120px;
  padding: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 15px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.form__textarea:focus {
  border-color: var(--accent-color);
}

.form__link:active,
.form__link:visited,
.form__link:link {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: var(--accent-color);
  cursor: pointer;
  text-decoration: underline;
}
@media screen and (min-width: 1200px) {
  .form__link:active,
.form__link:visited,
.form__link:link {
    font-size: 14px;
  }
}

.form__button {
  display: inline-block;
  padding: 10px 58px;
  border: none;
  cursor: pointer;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--other-text-color);
}

.form__button primary-button {
  margin: 0 auto;
}

.header {
  width: 100%;
  border: 1px solid var(--border-header-color);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 761px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-acc {
  color: var(--title-text-color);
}

.nav-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .nav-list {
    margin-left: 93px;
  }
}

.nav-list__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondory-font-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms var(--time-function);
  transition: color 250ms var(--time-function);
}
.nav-list__link--current {
  color: var(--accent-color);
}
.nav-list__link:hover, .nav-list__link:focus {
  color: var(--accent-color);
}

.nav-list__link--current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--accent-color);
}

.nav__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background-color: var(--other-text-color);
  -webkit-transition: fill 250ms var(--time-function);
  transition: fill 250ms var(--time-function);
}
.nav__btn:hover, .nav__btn:focus {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .nav__btn {
    display: none;
  }
}

.address-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .address-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    margin-left: 90px;
  }
}
@media screen and (min-width: 1200px) {
  .address-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 50px;
    margin-left: 260px;
  }
}

.address-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: var(--primary-text-color);
  fill: currentColor;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms var(--time-function);
  transition: color 250ms var(--time-function);
}
@media screen and (min-width: 1200px) {
  .address-list__link {
    font-size: 14px;
    line-height: 1.1428571429;
  }
}
.address-list__link:hover, .address-list__link:focus {
  color: var(--accent-color);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms var(--time-function);
  transition: -webkit-transform 250ms var(--time-function);
  transition: transform 250ms var(--time-function);
  transition: transform 250ms var(--time-function), -webkit-transform 250ms var(--time-function);
  background-color: var(--other-text-color);
}
.mobile-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu__btn {
  position: absolute;
  top: 10px;
  right: 15px;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  fill: var(--secondory-font-color);
  background-color: var(--main-light-color);
  -webkit-transition: fill 250ms var(--time-function);
  transition: fill 250ms var(--time-function);
}
.mobile-menu__btn:hover, .mobile-menu__btn:focus {
  fill: var(--accent-color);
}

.mobile-menu__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-menu__nav {
  margin-bottom: auto;
}

.mobile-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
}

.mobile-menu__link {
  color: var(--secondory-font-color);
  font-weight: 500;
  font-size: 30px;
  line-height: 1.2333333333;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 480px) {
  .mobile-menu__link {
    font-size: 40px;
    line-height: 1.175;
  }
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-color);
}

.mobile-menu__contact {
  margin-bottom: 64px;
}

.mobile-menu__contact-tel {
  display: inline-block;
  width: 100%;
  margin-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 22px;
  line-height: 1.1818181818;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 480px) {
  .mobile-menu__contact-tel {
    font-size: 34px;
    line-height: 1.1764705882;
  }
}
.mobile-menu__contact-tel:hover, .mobile-menu__contact-tel:focus {
  color: var(--accent-color);
}

.mobile-menu__contact-mail {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 22px;
  line-height: 1.1818181818;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 480px) {
  .mobile-menu__contact-mail {
    font-size: 24px;
    line-height: 1.1666666667;
  }
}
.mobile-menu__contact-mail:hover, .mobile-menu__contact-mail:focus {
  color: var(--accent-color);
}

.mobile-menu__networks {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.mobile-menu__networks-item:not(:last-child)::after {
  content: "";
  width: 22px;
  height: 0;
  margin-left: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu__networks-link {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 480px) {
  .mobile-menu__networks-link {
    font-size: 18px;
    line-height: 1.2222222222;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms, visibility 250ms;
  transition: opacity 250ms, visibility 250ms;
}

.backdrop.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 250ms var(--time-function);
  transition: opacity 250ms var(--time-function);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.5);
          transform: translate(-50%, -50%) scale(1.5);
  -webkit-transition: -webkit-transform 250ms var(--time-function);
  transition: -webkit-transform 250ms var(--time-function);
  transition: transform 250ms var(--time-function);
  transition: transform 250ms var(--time-function), -webkit-transform 250ms var(--time-function);
}

.modal {
  position: relative;
  padding: 40px;
  border-radius: 4px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms var(--time-function);
  transition: -webkit-transform 250ms var(--time-function);
  transition: transform 250ms var(--time-function);
  transition: transform 250ms var(--time-function), -webkit-transform 250ms var(--time-function);
  overflow: auto;
}
@media screen and (max-width: 479px) {
  .modal {
    margin: 93px 15px;
  }
}
@media screen and (min-width: 480px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    -webkit-transition: -webkit-transform 250ms var(--time-function);
    transition: -webkit-transform 250ms var(--time-function);
    transition: transform 250ms var(--time-function);
    transition: transform 250ms var(--time-function), -webkit-transform 250ms var(--time-function);
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  fill: var(--title-text-color);
  background: var(--other-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: fill 250ms var(--time-function), -webkit-transform 250ms var(--time-function);
  transition: fill 250ms var(--time-function), -webkit-transform 250ms var(--time-function);
  transition: transform 250ms var(--time-function), fill 250ms var(--time-function);
  transition: transform 250ms var(--time-function), fill 250ms var(--time-function), -webkit-transform 250ms var(--time-function);
}
.modal__button:hover {
  fill: var(--accent-color);
}

.modal__svg {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.logo,
.logo__dark {
  font-family: "Raleway";
  font-style: normal;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .logo,
.logo__dark {
    font-size: 26px;
    line-height: 1.1923076923;
  }
}
.logo--dark,
.logo__dark--dark {
  color: var(--logo-color);
}
.logo--light,
.logo__dark--light {
  color: var(--other-text-color);
}

.our-team {
  width: 100%;
  background: #F5F4FA;
}

.our-team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .our-team__title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .our-team__title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .our-team__title {
    margin-bottom: 50px;
  }
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .team {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .team {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.team__item {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__box {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--other-text-color);
  text-align: center;
}

.team__member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.team__text {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.team__netlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.netlink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  background-color: #FFFFFF;
  -webkit-transition: background-color 250ms var(--time-function);
  transition: background-color 250ms var(--time-function);
}
.netlink:hover, .netlink:focus {
  color: #FFFFFF;
  background-color: var(--accent-color);
}

.netlink__icon {
  fill: currentColor;
  -webkit-transition: 250ms var(--time-function);
  transition: 250ms var(--time-function);
}

.what-we-do {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .what-we-do {
    display: none;
  }
}

.what-we-do__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.what-we-do__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
}

.what-we-do__item:not(:last-child) {
  margin-right: 30px;
}

.work {
  position: relative;
}

.work__example {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work__example::before {
  content: "";
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.work__title {
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--other-text-color);
}/*# sourceMappingURL=main.css.map */