.clients__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    @media screen and (max-width:767px) {
            margin-bottom: 30px;
        }
    
        @media screen and (min-width:768px) {
            margin-bottom: 30px;
        }
    
        @media screen and (min-width:1200px) {
            margin-bottom: 50px;
        }
}

.client__list {
@extend %list;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

@media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    }
}

.client__link {
display: flex;
    
    @media screen and (max-width:767px) {
    width: 210px;
        }
    
    @media screen and (min-width:768px) {
    width: 226px;
        }
    
    @media screen and (min-width:1200px) {
    width: 170px;
        }

    
    height: 92px;
    justify-content: center;
    align-items: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    
     color: var(--icon-color);
     fill: currentColor;
     border-color: var(--icon-color);
     transition: background-color 250ms var(--time-function),
     color 250ms var(--time-function);

    &:hover,
    &:focus {
            color: var(--accent-color);
            border-color: var(--accent-color);
            transition: border-color var(--time-function);}
}

.client__icon {
    fill: currentColor;
    transition: 250ms var(--time-function);
}