.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--boder-bg-color);
}

.footer .logo {
    display: inline-block;
    margin-bottom: 20px;
}

.footer__container {
    display: flex;
    flex-direction: column;
    gap: 60px;

    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-around;
    }

    @media screen and (min-width:1200px) {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 80px;
    }
}

.footer__content {
    @media screen and (max-width:1199px) {
        text-align: center;
    }
}

.footer__list {
    font-style: normal;
    @extend %list;
}

.footer__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer__link {
    @extend %link;
    color: var(--other-text-color);
    letter-spacing: 0.03em;
    margin-bottom: 9px;
    line-height: 1.71;

    transition: color 250ms var(--time-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.footer__contact {
    @extend %link;
    color: var(--address-text-color);
    letter-spacing: 0.03em;
    line-height: 1.71;
    transition: color 250ms var(--time-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.footer-join {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @media screen and (max-width:1199px) {
        align-items: center;
    }
}

.footer-join__title {
    margin-bottom: 20px;
    color: var(--other-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-join__list {
    @extend %list;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-join__link {
    @extend %link;
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    color: var(--other-text-color);
    fill: currentColor;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms var(--time-function);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.footer-form {

    @media screen and (min-width:768px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media screen and (max-width:1199px) {
        text-align: center;
    }
}

.footer-form__text {
    margin-bottom: 20px;

    color: var(--other-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-form__box {
    @media screen and (min-width:1200px) {
        display: flex;
    }
}

.footer-form__input {
    display: block;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: none;

    background-color: var(--boder-bg-color);

    @media screen and (min-width:768px) {
        width: 450px;
    }

    @media screen and (min-width:1200px) {
        width: 358px;
        margin-right: 12px;
        margin-bottom: 0;
    }
}

.footer-form__btn {
    position: relative;
    padding: 10px 62px 10px 28px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;

    background: var(--accent-color);
    fill: var(--other-text-color);
    color: var(--other-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
}

.footer-form__btn::after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 24px;
    height: 24px;
    margin-left: 10px;
    right: 28px;
    top: 50%;
    transform: translateY(-50%);

    background-image: url(../images/icon-send.svg);
}