.form__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 40px;
}

.contact__form {
    margin: 2px 40px 30px 40px;

}

.form__label {
    display: block;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
    text-align: left;
    padding-top: 10px;
    padding-bottom: 4px;
}

.form__control {
    position: relative;
}

.form__input {
    width: 100%;
    padding: 10px 10px 10px 32px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    
    &:focus {
            border-color: var(--accent-color);
        }
}

.form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: currentcolor;
}

.form__control:focus-within .form__icon {
    fill: var(--accent-color);
}

.form__textarea {
    width: 100%;
    height: 120px;
    padding: 12px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 15px;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
&:focus {
        border-color: var(--accent-color);
    }
}

.form__link:active,
.form__link:visited,
.form__link:link {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--accent-color);
    cursor: pointer;
    text-decoration: underline;
}

.form__button {
    display: inline-block;
    padding: 10px 58px;
    border: none;
    cursor: pointer;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: var(--other-text-color);
}

.form__button primary-button {
    margin: 0 auto;
}