.header {
    width: 100%;
    border: 1px solid var(--border-header-color);

    &__container {
        display: flex;
        align-items: center;
    }

    &__nav {
        display: flex;
        align-items: center;

        @media screen and (max-width:761px) {
            display: flex;
            justify-content: space-between;
            flex-grow: 1;
            margin-top: 16px;
            margin-bottom: 16px;
        }
    }
}

.logo {
    color: var(--accent-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logo-acc {
    color: var(--title-text-color);
}

.nav-list {
      @extend %list;
      display: none;

      @media screen and (min-width:768px) {
          display: flex;
          gap: 50px;
          margin-left: 88px;
      }

      @media screen and (min-width:1200px) {
          margin-left: 93px;
      }
  }

 .nav-list__link {
     @extend %link;
     position: relative;
     display: block;
     padding-top: 32px;
     padding-bottom: 32px;

     color: var(--secondory-font-color);
     font-weight: 500;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.02em;
     transition: color 250ms var(--time-function);

     &--current {
         color: var(--accent-color);
     }

     &:hover,
     &:focus {
         color: var(--accent-color);
     }

    }

.nav-list__link--current::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--accent-color);
}
 .nav__btn {
     display: flex;
     padding: 0;
     margin: 0;
     border: none;
     cursor: pointer;
     background-color: var(--other-text-color);
     transition: fill 250ms var(--time-function);

     &:hover,
     &:focus {
         fill: var(--accent-color);
     }

     @media screen and (min-width:768px) {
         display: none;
     }
    }

.address-list {
        @extend %list;
        display: none;

        @media screen and (min-width:768px) {
            display: flex;
            flex-direction: column;
            gap: 10px; 
            margin-left: 90px; 
        }

        @media screen and (min-width:1200px) {
            flex-direction: row;
            gap: 50px;
            margin-left: 260px;
        }
    }    
.address-list__link {
    @extend %link;
    display: flex;
    align-items: center;
    gap: 10px;
    
    color: var(--primary-text-color);
    fill: currentColor;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.02em;
    transition: color 250ms var(--time-function);
    
    @media screen and (min-width:1200px) {
    font-size: 14px;
    line-height: calc(16/14);
    }
    
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}