.logo,
  .logo__dark {
    @extend %link;
    font-family: "Raleway";
    font-style: normal;
  
    color: var(--accent-color);
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28/24);
    letter-spacing: 0.03em;
    @media screen and (min-width:1200px) {
      font-size: 26px;
      line-height: calc(31/26);
    }

    &--dark {
        color: var(--logo-color);
    }

    &--light {
        color: var(--other-text-color);
      }
  }
