body {
    font-family: Roboto;
    color: var(--title-text-color);
    margin: 0 auto;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    width: 100%;
    padding-top: 94px;
    padding-bottom: 94px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}