:root {
    --title-text-color: #212121;
    --other-text-color: #ffffff;
    --primary-text-color: #757575;
    --accent-color: #2196F3;
    --secondary-accent-color: #188ce8;
    --logo-color: #000000;
    --boder-bg-color: #2f303a;
    --section-team-bg-color: #f5f4fa;
    --address-text-color: rgba(255, 255, 255, 0.6);
    --border-color: #eeeeee;
    --border-header-color: #ececec;
    --shadow-btn-color: rgba(0, 0, 0, 0.15);
    --icon-color: #afb1b8;
    --time-function: cubic-bezier(0.4, 0, 0.2, 1);
    --hero-gradient: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4));
}